.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
  grid-gap: 10px;
  color: #444;
  text-align: center;
  justify-content: center;
}

.box {
  background-color: #444;
  color: var(--lepucki-orange);
  border-radius: 5px;
  padding-top: 10px;
  font-size: 80%;
}

#vkpaivat {
  text-decoration: underline;
  margin: 0;
}

#paivamaara {
  text-decoration: none;
  color: aliceblue;
}

.kellonaikaButton {
  font-size: 75%;
  border-radius: 5px;
}

.valittu {
  background-color: #ff5050;
}

.eivalittu {
  background-color: #33cc33;
}

.apartment-number-input {
  max-width: 100px;
  margin-top: 3px;
}

.apartment-number {
  max-width: 135px;
  margin: auto;
  align-items: center;
  padding-bottom: 2%;
}

.btn-laundry {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.btn-laundry:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
}
