@import url('../assets/colors.css');

/* Yhteydenottolomake */
.contact-form {
  background-color: var(--lepucki-white);
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
}

.form-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  max-width: 40%;
  margin: auto;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

input[type='text'],
input[type='email'] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
  min-height: 100px;
  width: 180%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 3rem;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 65%;
  /* margin-right: 18%;
  float: right;
  margin-right: 35.5%; */
}

.submit-button:hover {
  background-color: #0056b3;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}
