@import url('../assets/colors.css');

/* Yhteydenottolomake */
.contact-form {
  background-color: var(--lepucki-white);
  padding: 20px;
  border-radius: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: var(--lepucki-gray);
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 70%;
  margin: auto;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

input[type='text'],
input[type='email'] {
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
  min-height: 200px;
  width: 200%; /* muuta leveys 80% */
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.submit-button {
  background-color: var(--lepucki-orange);
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease;
  padding: 20px 40px;
  border-radius: 10px;
  /* margin-right: 18%;
  float: right;
  margin-right: 35.5%; */
}

.submit-button:hover {
  background-color: var(--lepucki-orange);
  border-color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type='text'],
input[type='email'] {
  width: 100%;
}
