body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
  grid-gap: 10px;
  color: #444;
  text-align: center;
  justify-content: center;
}

.box {
  background-color: #444;
  color: var(--lepucki-orange);
  border-radius: 5px;
  padding-top: 10px;
  font-size: 80%;
}

#vkpaivat {
  text-decoration: underline;
  margin: 0;
}

#paivamaara {
  text-decoration: none;
  color: aliceblue;
}

.kellonaikaButton {
  background-color: #33cc33;
  font-size: 75%;
  border-radius: 5px;
}

.valittu {
  background-color: #ff5050;
  font-size: 75%;
  border-radius: 5px;
}
