@import url('./assets/colors.css');

#root {
  background-color: var(--lepucki-gray);
  color: var(--lepucki-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--lepucki-orange);
}

.main-logo {
  width: 500px;
}
