#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --lepucki-orange: #e49217;
  --lepucki-black: #000;
  --lepucki-gray: #0f0f0f;
  --lepucki-white: #fff;

}

@font-face {
  font-family: ubuntu;
  src: url(./fonts/UbuntuCondensed-Regular.ttf);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--lepucki-orange);
}

.login-text {
  font-family: ubuntu;
}

label   {
  display: block;
  margin-top: 10px;
}

button{
  margin-top: 10px;
}

.main-logo {
  width: 500px;
}

.login-input{
  margin: 10px;

}

button[type="submit"]:hover{
  background-color: var(--lepucki-orange);
  color: var(--lepucki-black);
}
